body {
    background: var(--fallback-background);
    background: var(--background);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 0;
}
header {
    font-size: 60px;
    text-align: center;
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    margin: 43px 0;
}
header h1 {
    background: var(--h1-background);
}
#search {
    font-size: 0;
    margin: 0 auto;
    display: block;
    width: fit-content;
    padding: 10px;
    background: var(--light-contrast);
}
#search input {
    width: 250px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border: 1px solid var(--high-contrast);
    background: transparent;
    color: var(--text-color);
    padding: 5px;
    vertical-align: top;
    font-size: 18px;
    margin: 0 10px;
    line-height: 0;
}
#search input:hover {
    background: var(--high-contrast);
}
#search button {
    line-height: 0;
    background: transparent;
    color: var(--text-color);
    cursor: pointer;
    padding: 5px;
}
#search button:hover {
    background: var(--high-contrast);
}
#search select {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.35;
    vertical-align: top;
    background: transparent;
    color: var(--text-color);
    cursor: pointer;
    padding: 5px 29px 5px 8px;
    appearance: none;
    background-image: var(--arrow);
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 5px;
}
#search select:hover, #search select::selection  {
    background: var(--high-contrast);
    background-image: var(--arrow);
    background-repeat: no-repeat;
    background-position-x: 97%;
    background-position-y: 5px;
}
#search option {
    background: var(--light-contrast-fixed);
    color: var(--text-color-faded);
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
#apps {
    font-size: 0;
    width: 680px;
    margin: 0 auto;
    margin-top: 50px;
}
.app {
    background: var(--light-contrast);
    width: 128px;
    height: 128px;
    overflow: visible;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 10px;
}
.app:nth-child(5n) {
    margin-right: 0;
}
.app:hover {
    background: var(--high-contrast);
}
.app a {
    width: 100%;
    display: inline-block;
}
.imgWrapper {
    box-sizing: border-box;
    margin: 0 auto;
    height: 55px;
    width: 55px;
    margin-top: 18px;
    padding: 13px;
    background: #fff;
}
.imgWrapper img {
    max-height: 100%;
    max-width: 100%;
    vertical-align: baseline;
}
.app p {
    height: 55px;
    line-height: 55px;
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    margin: 0;
}
#designSelector {
    background: var(--light-contrast);
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 5px;
}
#designSelector button {
    border: 1px solid var(--high-contrast);
    padding: 5px;
    width: 34px;
    height: 34px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    background: transparent;
}
#designSelector button:hover {
    background: var(--high-contrast);
}